* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

/* ===============================글 목록=============================== */
.n_list {
	width: 1000px;
	text-align: center;
	margin: 0 auto;
	font-size: 18px;
}

.us_profile {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	object-fit: cover;
	margin-top: -5px;
	margin-right: 1px;
}

.c_category {
	margin: 0 auto;
	text-align: center;
	font-size: 2rem;
	width: inherit;
}

.c_category span {
	color: #3c80e7;
}

.c_category a {
	color: black;
	text-decoration: none;
}

.n_list .c_category ul {
	display: inline-block;
	margin-bottom: 15px;
	list-style-type: none;
	padding-left: 0;
}

.n_list .c_category li {
	border-right: 1px solid #ccc;
	padding: 0 20px;
	float: left;
}

.n_list .c_category li:last-child {
	border-right: none;
}

.n_list .c_category ul li a:hover, .n_list .c_category ul li a:active {
	color: #3c80e7;
}

.n_list h2 a {
	color: black;
	text-decoration: none;
}

.n_seachform, .n_categoryform {
	padding-bottom: 20px;
	width: 1000px;
	display: inline-flex; /* 한 줄에 배치 */
	align-items: center; /* 세로 가운데 정렬 */
	gap: 10px;
	margin: 0 auto; /* 가로 정렬을 위해 가운데 정렬 */
	justify-content: center; /* 내부 요소를 가로 가운데 정렬 */
	margin-bottom: 20px;
}

.n_seachform form {
	flex-direction: column;
	gap: 10px; /* 각 요소 간 간격 */
}

.custom-select-display {
	position: relative;
	display: inline-block;
	vertical-align: middle; /* 요소를 중간 정렬 */
	width: 130px;
	height: 50px;
	border: 2px solid #fcd11e;
	border-radius: 25px 0 0 25px;
	padding: 0 10px;
	outline: none;
	font-size: 16px;
	border-right: none;
}

.custom-select-display span {
	display: inline-block;
	margin-top: 11px;
}

.custom-options {
	display: none;
	position: absolute;
	width: 110px;
	background-color: #f9f9f9;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	z-index: 10;
	text-align: center;
}

.n_seachform select ::-ms-expand {
	display: none;
}

input[type="search"]::-webkit-search-cancel-button {
	display: none; /* 웹킷 브라우저에서 'x' 버튼 숨기기 */
}

.n_seachform input[type="search"] {
	border: 2px solid #fcd11e;
	height: 50px;
	width: 620px;
	margin-left: -7px;
	border-radius: 0 25px 25px 0;
	margin-top: 0px;
	padding: 10px;
	outline: none;
	font-size: 16px;
	line-height: normal;
	vertical-align: middle; /* 세로 가운데 정렬 */
}

.n_seachform .search-bar {
	position: relative;
	display: inline-block;
}

.n_seachform .searchIcon {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	height: 40px;
	width: 70px; /* 아이콘 크기 설정 */
	border: none;
	background: none;
	cursor: pointer;
}

.n_seachform .write_button {
	height: 40px;
	width: 100px;
	margin-left: 5px;
	color: #000;
	background-color: #fcd11e;
	border-radius: 20px;
	border: none;
	cursor: pointer;
	padding: 5px 10px;
	font-size: 16pt;
}

.n_categoryform .category {
	height: 40px;
	width: 100px;
	margin-left: 5px;
	color: #000;
	background-color: #fcd11e;
	border-radius: 20px;
	border: none;
	cursor: pointer;
	padding: 5px 10px;
	font-size: 16pt;
}
/* 전체 리스트 영역 */
.n_listform {
	display: grid;
	grid-template-columns: repeat(4, 1fr); /* 가로로 4개씩 배치 */
	gap: 20px;
	max-width: 1000px;
	margin: 0 auto;
}

/* 리스트 아이템 스타일 */
.n_list_item {
	border: 1px solid #fcd11e;
	padding: 10px;
	text-align: center;
	background-color: #fff;
	box-sizing: border-box;
}

.n_listform .n_list_item img {
	width: 200px;
	height: 200px;
	object-fit: contain;
	background-color: #fff;
}

.n_list_item p {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 200px;
	vertical-align: bottom;
}

.pagination {
	display: flex; /* Flexbox를 사용하여 정렬 */
	list-style: none; /* 기본 리스트 스타일 제거 */
	padding: 0; /* 패딩 제거 */
	margin: 0 auto; /* 위아래 여백 설정 */
	text-align: center;
	width: 100px;
	margin-top: 20px;
}

.pagination .page-item {
	margin: 0 5px; /* 페이지 아이템 간 여백 */
	width: 30px;
	height: 30px;
	position: relative;
}

.pagination .page-link {
	text-decoration: none; /* 링크의 기본 밑줄 제거 */
	color: black; /* 기본 링크 색상 */
	width: 100%; /* 전체 너비 사용 */
	height: 100%; /* 전체 높이 사용 */
	display: flex; /* Flexbox 사용 */
	justify-content: center; /* 수평 중앙 정렬 */
	align-items: center; /* 수직 중앙 정렬 */
	border-radius: 50%; /* 동그라미 모양 만들기 */
}

.pagination .page-link:hover {
	color: black;
	font-weight: bold;
}

.pagination .active {
	position: relative; /* 부모 요소의 위치를 기준으로 설정 */
}

.pagination .active a {
	color: black; /* 글자색을 흰색으로 설정 */
	background-color: #ffeb994d; /* 배경색을 노란색으로 설정 */
	border-radius: 50%; /* 동그라미 모양을 만들기 위해 반경을 설정 */
	border: 2px solid #fcd11e;
	display: inline-block; /* 인라인 블록으로 설정 */
	text-align: center; /* 중앙 정렬 */
}

@media ( max-width : 768px) {
	.n_list {
		width: 100%;
	}
	.n_list .c_category li {
		padding: 0 5px;
		font-size: 16px;
	}
	.n_seachform, .n_categoryform {
		width: 100%;
	}
	
	.n_seachform form {
		width: 100%;
	}
	.custom-select-display {
		width: 18%;
	}
	
	.custom-options{
	
	}
	
	.n_seachform .search-bar {
		width: 80%;
	}
	
	.n_seachform input[type="search"]{
		width: 100%;
	}
	
	.n_seachform .write_button {
		display: none;
	}
}
/* ===============================글 상세=============================== */
.n_view {
	width: 1000px;
	margin: 0 auto;
	font-size: 18px
}

.n_viewform {
	width: 750px;
	margin: 0 auto;
}

.n_view h1 {
	text-align: center;
}

.n_view .n_title, .n_view .n_content {
	border-bottom: 2px solid #ccc;
}

.n_title {
	display: flex;
	justify-content: space-between;
	padding-bottom: 10px;
}

.n_title .title {
	text-align: left;
	font-size: 22px;
	font-weight: bold;
	max-width: 630px;
}

.n_title .author {
	text-align: right;
	font-size: 14px;
	color: #888;
	margin-top: 11px;
}

.n_second {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #888;
	font-size: 14px;
}

.n_second .cnt {
	text-align: left;
	margin-top: 10px;
	color: #888;
	font-size: 14px;
}

.n_second .date {
	text-align: right;
	margin-top: 10px;
	color: #888;
	font-size: 14px;
}

.n_third {
	text-align: left; /* 전체 텍스트 왼쪽 정렬 */
	margin-bottom: 10px;
	height: 500px;
	border-bottom: 2px solid #ccc; /* 전체 하단에 테두리 추가 */
}

.n_third .ph {
	font-size: 30px;
	margin-bottom: 10px;
	text-align: center; /* 연락처 왼쪽 정렬 */
}

.n_third img {
	height: 400px;
	width: 400px;
	object-fit: contain;
	float: left; /* 이미지를 왼쪽으로 정렬 */
	margin-right: 20px; /* 이미지와 텍스트 사이에 여백 */
}

.n_third .detail-table {
	width: 330px; /* 테이블의 가로 크기 */
	height: 400px; /* 테이블의 세로 크기 */
	margin: 0 auto;
	border-collapse: collapse;
	text-align: left; /* 테이블 내 텍스트 왼쪽 정렬 */
}

.n_third .detail-table .detail-row {
	border-bottom: 1px solid #ccc;
}

.n_third .detail-table .detail-row {
	border-bottom: 1px solid #ccc;
}

.n_third .detail-table .detail-row:last-child {
	border-bottom: none;
}

.n_third .detail-table td, .n_third .detail-table th {
	padding: 8px;
}

.n_third .detail-table .label {
	font-weight: bold;
}

.n_third .detail-table .value {
	color: #333;
}

.n_content {
	margin-top: -2px;
	padding-bottom: 10px;
	font-size: 17px;
	min-height: 200px;
	text-align: left;
}

.commentlist {
	width: 1000px;
	margin: 0 auto;
	padding: 10px 0; /* 여백 추가 */
	position: relative;
}

.comment {
	width: 750px;
	margin: 0 auto;
	margin-top: 10px;
	border-bottom: 1px solid #ccc; /* 구분선 */
}

.comment div {
	margin-bottom: 10px;
}

.comment div strong {
	font-weight: bold;
}

.comment div span {
	float: right;
	font-size: 14px;
	color: #888;
}

.comment p {
	display: inline-block;
	width: calc(100% - 40px);
}

.comment textarea {
	display: inline-block;
	width: 100%;
	height: 100px;
	padding: 5px;
	border-radius: 5px;
}

.btn-container {
	display: flex;
	justify-content: flex-end;
}

.comment button {
	margin-left: 5px;
	color: #000;
	background-color: #fcd11e;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	padding: 5px 10px;
}

.commentWrite {
	display: flex;
	justify-content: center;
	width: 1000px;
	padding: 10px 0;
}

.commentWrite strong {
	display: block;
	text-align: left;
}

.commentWrite textarea {
	width: 100%;
	height: 100px;
	padding: 5px;
	border-radius: 5px;
}

.commentWrite .btn-container button {
	margin-left: auto;
	color: #000;
	background-color: #fcd11e;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	padding: 5px 10px;
}

.commandList {
	width: 750px;
	margin: 0 auto;
}

.commandList .btn-container button {
	margin-left: 5px;
	color: #000;
	background-color: #fcd11e;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	padding: 5px 10px;
}

/*===========================글 작성 , 글 수정===============================*/
.n_write {
	width: 1000px;
	text-align: center;
	margin: 0 auto;
	font-size: 18px;
}

.n_writeform {
	width: 750px;
	margin: 0 auto;
}

.n_write_header {
	display: flex;
	justify-content: space-between; /* 양쪽 끝에 배치 */
	align-items: center;
	margin-bottom: 10px; /* 간격 조정 */
	font-weight: bold;
	font-size: 20px;
}

.n_writeform .form-control {
	width: 100%;
	box-sizing: border-box;
}

.n_img {
	margin-bottom: 10px;
	height: 500px;
	position: relative;
}

.lost-pet-image, .find-pet-image, .new-family-image {
	padding-top: 20px;
	display: block;
	margin: 0 auto; /* 이미지 중앙 정렬 */
	height: 400px;
}

.img_save {
	position: absolute;
	bottom: 10px; /* 이미지 하단에서 10px 위 */
	left: 50%;
	transform: translateX(-50%); /* 중앙 정렬 */
	padding: 5px 10px;
	border-radius: 5px;
	color: #000;
	background-color: #fcd11e;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	padding: 5px 10px;
}

.n_writeform .detail-table {
	width: 100%; /* 테이블의 가로 크기 */
	height: 400px; /* 테이블의 세로 크기 */
	margin: 0 auto;
	border-collapse: collapse;
	text-align: left; /* 테이블 내 텍스트 왼쪽 정렬 */
	border-top: 2px solid #ccc;
}

.n_writeform .n_detail .detail-table .detail-row {
	border-bottom: 2px solid #ccc;
}

.n_writeform .n_detail .detail-table td, .n_third .detail-table th {
	padding: 8px;
}

.n_writeform .n_detail .detail-table .label {
	font-weight: bold;
}

.n_writeform .n_detail .detail-table .value {
	color: #333;
}

.btn-container button {
	margin-left: 5px;
	color: #000;
	background-color: #fcd11e;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	padding: 5px 10px;
}