<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="NfCommentDAO">
	<insert id="insertnfComment">
		INSERT INTO nfComment(nf_seq, nfc_id, nfc_content, nfc_date)
		VALUES(#{nf_seq}, #{nfc_id}, #{nfc_content}, #{nfc_date})
	</insert>
	
	<update id="updatenfComment">
		UPDATE nfComment
		SET nfc_content = #{nfc_content}
		WHERE nfc_seq = #{nfc_seq}
	</update>
	
	<delete id="deletenfComment">
		DELETE FROM nfComment WHERE nfc_seq = #{nfc_seq}
	</delete>
	
	<select id="getnfCommentList" resultType="nfComment">
		SELECT * FROM nfComment WHERE 1=1
		ORDER BY nfc_seq DESC 
	</select>
	
	<select id="countnfCommentList" resultType="int">
		SELECT COUNT(*) FROM newfamily WHERE nf_seq = #{nf_seq}
	</select>
</mapper>
